{
  "presets": [
    [
      "env",
      {
        "modules": false
      }
    ]
  ],
  "env": {
    "test": {
      "presets": ["env"]
    },
    "production": {
      "plugins": [
        "transform-runtime"
      ]
    }
  }
}
